- name: setup k3s data-dir configuration
  hosts: servers
  become: true
  tasks:
    - name: make sure config dir exists
      ansible.builtin.file:
        path: /etc/rancher/k3s
        state: directory
        mode: '0755'
    
    - name: add data-dir to config file
      ansible.builtin.lineinfile:
        path: /etc/rancher/k3s/config.yaml
        line: 'data-dir: /mnt/k3s/etcd'
        create: true
        state: present