---
# hosts
proxHost1: 10.10.1.10
proxHost2: 10.10.1.11
proxHost3: 10.10.1.12
serverHost1: 10.10.1.20
serverHost2: 10.10.1.21
serverHost3: 10.10.1.22
workerHost1: 10.10.1.23
workerHost2: 10.10.1.24
workerHost3: 10.10.1.25

# users
proxmoxuser: root
nodeuser: username

# bitwarden secret ids
#bw_cluster_proxmox1pass: "<secret_id>"
#bw_cluster_proxmox2pass: "<secret_id>"
#bw_cluster_proxmox3pass: "<secret_id>"
#bw_cluster_nodepass: "<secret_id>"

# get passwords from bitwarden
#host1pass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_proxmox1pass) }}"
#host2pass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_proxmox2pass) }}"
#host3pass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_proxmox3pass) }}"
#nodepass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_nodepass) }}"

# set passwords
host1pass: "secret"
host2pass: "secret"
host3pass: "secret"
nodepass: "secret"