---
# hosts
proxHost1: 10.10.1.10
proxHost2: 10.10.1.11
proxHost3: 10.10.1.12
serverHost1: 10.10.1.20
serverHost2: 10.10.1.21
serverHost3: 10.10.1.22
workerHost1: 10.10.1.23
workerHost2: 10.10.1.24
workerHost3: 10.10.1.25

# users
proxmoxuser: root
nodeuser: username

# bitwarden secret ids
#bw_cluster_proxmox1pass: "5f461847-daea-468b-850c-b3aa01710595"
#bw_cluster_proxmox2pass: "7c078979-a5a7-4d7e-a37b-b3aa0171ad9f"
#bw_cluster_proxmox3pass: "870efa35-f42d-4652-8e08-b3aa0171e954"
#bw_cluster_nodepass: "fdf57021-1573-4a82-80b0-b3aa01723467"

# get passwords from bitwarden
#host1pass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_proxmox1pass) }}"
#host2pass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_proxmox2pass) }}"
#host3pass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_proxmox3pass) }}"
#nodepass: "{{ lookup('bitwarden.secrets.lookup', bw_cluster_nodepass) }}"

# set passwords
host1pass: "secret"
host2pass: "secret"
host3pass: "secret"
nodepass: "secret"